{% extends 'base.html.twig' %}

{% block title %}Hello EstablishmentController!{% endblock %}

{% block body %}

    <h1>edit</h1>

    {{ form_start(formEstablishment) }}

    {{ form_row(formEstablishment.name) }}
    {{ form_row(formEstablishment.description) }}

    <button type="submit" class="btn btn-success">save</button>


    {{ form_end(formEstablishment) }}

{% endblock %}
