{% extends 'base.html.twig' %}

{% block title %}Starry Night Hotel {% endblock %}

{% block body %}


<div class="bg-gogh my-5  py-perso">

    {% for establishment in establishments %}
        <h1 class="fs-0">{{ establishment.name }}</h1>
</div>
<div class="container text-center">
    <p class="fs-5">{{ establishment.description }}</p>
    {% endfor %}
    <a href="{{ path('app_room') }}" class="btn btn-primary mt-4">Discover our rooms</a>
</div>



{% endblock %}
