{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="test">
        <h1 >bientot ici hotel </h1>
        <p>site en construction</p>

        {% for chose in choses %}
            <p>{{ chose.name }}</p>
        {% endfor %}

    </div>


{% endblock %}
