{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="test">

        {% for establishment in establishments %}

        <h1>{{ establishment.name }}</h1>
            <p>{{ establishment.description }}</p>

        {% endfor %}
    </div>


{% endblock %}
