{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}

<h1>index reservat</h1>
    <a href="{{ path('reservation_choices') }}">noot</a>

{% endblock %}
