{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}



        <h1>Choose a payment method : </h1>
        <div class="row text-center">
            <div class="card py-4 m-2 col-3">1</div>
            <div class="card py-4 m-2 col-3">2</div>
            <div class="card py-4 m-2 col-3">3</div>

        </div>


    <a href="{{ path('app_room') }}">Finish reservation</a>


{% endblock %}
