{% extends 'base.html.twig' %}

{% block title %}Hello RoomController!{% endblock %}

{% block body %}

    <h1>chambre {{ room.name }}</h1>

    {% for image in room.images %}
        <div class="card col-4">
            <img src="{{ vich_uploader_asset(image, 'imageFile')}}"  alt="">
        </div>
    {% endfor %}



{% endblock %}
