@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@300;400;700&display=swap');
@import "~bootstrap/scss/bootstrap";


body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1{
    font-weight: 700;
    font-size: 4rem;
    padding-top: 2rem
}

.test{
    text-align: center;
    padding-top: 30vh;

}