@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;600;700;800&display=swap');
@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'Vincent';
    src: url('../font_vincent-gogh.ttf');
    font-weight: normal;
    font-style: normal;
}

//#5ABAEC footer bleu clair?


body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
}

h1{
    font-weight: 700;
    font-size: 6rem;
    padding-top: 3rem;
    margin-bottom: 3rem;
    font-family: 'Vincent', sans-serif ;
    text-align: center;
}

h2{
    font-weight: 700;
    font-size: 5rem;
    padding-top: 2rem;
    margin-bottom: 3rem;
    font-family: 'Vincent', sans-serif ;
    text-align: center;
}


.vincent{
    font-family: 'Vincent', sans-serif ;
}

.fs-0{
    font-size: 10rem;
}
.py-perso{
    padding: 5rem 0;
}



//

.btn{
    padding: 12px 2.5rem;
    font-weight: bolder;
}

.btn-primary{
    background-color: black;
    color:white;
    border:none;
}

.btn-primary:hover{
    background-color: #EFBB2A;
    color:black;
    border:none;
}

.btn-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.btn-link:hover{
    color: #20336D;
    font-weight: bold;
    text-decoration: underline;
}

.text-bg-secondary{
    background-color: #20336D !important;
}


//

.bg-gogh{
    background-image: url("../../public/gogh2.jpeg"); // https://www.dalstonmillfabrics.co.uk/iconic-art-cotton-print-starry-night.html
                                                        // 2: https://www.fractalcamo.com/store/p8049/Van_Gogh_Starry_Night_24_Pattern.html
    background-repeat: no-repeat;
    background-size: cover;
}


// CARD

.cont {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #221527;
}

.cont:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mb-6{
    margin-bottom: 7rem;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}